@import '@fontsource/bebas-neue';
@import '@fontsource/montserrat';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #fbf5dd;
	max-width: 100vw;
}

.prose p {
	font-family: 'Montserrat', sans-serif !important;
}
